#nav 
{
	width: 100%;
	height: 100%;
	background-image: url(cream_dust.png);
	margin: 0px;
	padding-top: 30vh;
	position: fixed;
	top: 0px;
	display: none;
	z-index: 1; 

}

.menueitem
{
	width: 300px;
	text-align: center;
	margin: auto;
	font-size: 40px;
	font-family: sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	cursor: pointer;

}

.menueitem:hover
{
	background-color: black;
	color: white;
}

#x
{
	width: 75px;
	height: 75px;
	/*background-color: black; */
	position: fixed;
	margin-top: -28vh; 
	margin-left: 1%;

	/* z-index: 2; */
}

#delta
{
	width: 75px;
	height: 75px;
	/*background-color: grey; */
	position: fixed;
	margin-left: 1%;
	margin-top: 1%;
	top: 0px;
	z-index: 1;
	
	 
	 /*z-index: 2; */
}

#delta:hover
{
	transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
}

#title
{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-weight: 200;
	font-size: 75px;
	text-align: center;
	/*margin-top: 40vh;*/
	top: 40vh;
	width: 100%;
	position: absolute;
	z-index: 0;
}

body 
{
	padding: 0px;
	margin: 0px;
	background-image: url(cream_dust.png);
}

#mainContent
{
	font-family: helvetica, arial, sans-serif;
	margin-top: 97vh; 
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: 20px;
	line-height: 150%;

}
	@media (min-height: 650px)
		{
			
			#mainContent
			{
				margin-top: 97vh;
			}
			
		}

	@media (max-width: 650px)
		{
			
			#mainContent
			{
				margin-left: 1vw;
				margin-right: 1vw;
			}
			
		}

h1
{
	font-size: 80px;
	font-weight: normal;
}

.slide
{
	line-height: normal;
	min-height: 80vh;
	background-color: ;
	padding-bottom: 50px;
	z-index: 0;
	border: 3px solid rgba(10,10,10,0.1);
}

.slide h1
{
	font-weight: lighter;
	font-size: 60px;
	text-align: center;
}

.nextbutton
{
	margin-top: -50px;
	height: 30px;
	width: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: rgba(10,10,10,0.1);
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.prevbutton
{
	margin-top: -50px;
	height: 30px;
	width: 85px;
	position: absolute;
	bottom: 0px;
	background-color: rgba(10,10,10,0.1);
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
}
